{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>MAIN PAGE</title>
</head>
<body><table border="1" width=100%>
<h2><tr width=50%>
	<td>
	<a href="http://127.0.0.1:8000/my_app/test_ing">
		<button>REGISTER</button>
 	</a>

 	<br/><br/>
 	<a href="http://127.0.0.1:8000/my_app/log">
		<button>LOGIN</button>
 	</a>

 	<br/><br/>
 	
	<a href="http://127.0.0.1:8000/my_app/chats">
		<button>CHATS</button>
 	</a>
 	<br/><br/>
 	
	<a href="http://127.0.0.1:8000/my_app/logout_request">
		<button>LOGOUT</button>
 	</a>
 	<br/><br/>
	 </td></tr>
	<tr width=50%> <td>
 	<a href="http://127.0.0.1:8000/my_app/weather">
		<button>WEATHER APP</button>
 	</a>
 	</td></tr></h2></table>
 	<h2>{{ info1 }}</h2>
 	<h2>{{ data }}</h2>
 	
 	<br/><br/>
 </h2>
</body>
</html>
